In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy

---

## Table View of Entire Data

In [2]:
data = pd.read_csv("../Ch02/data/donations.csv")
print(data)

      amount            timestamp   user
0       25.0  2017-11-12 11:13:44    0.0
1       50.0  2015-08-25 19:01:45    0.0
2       25.0  2015-03-26 12:03:47    0.0
3       50.0  2016-07-06 12:24:55    0.0
4       50.0  2016-05-11 18:13:04    1.0
...      ...                  ...    ...
2671    25.0  2016-09-02 11:20:00  992.0
2672    50.0  2017-11-02 12:17:06  993.0
2673  1000.0  2016-09-13 21:09:47  995.0
2674  1000.0  2017-09-29 20:03:01  995.0
2675    50.0  2018-01-03 19:24:24  998.0

[2676 rows x 3 columns]

--- 

## Stats to Calculate

1. [x] Mean amount

2. [x] Median amount

3. [x] Mode for amount

4. [x] Range for amount

5. [ ] Periodicity for amount

6. [ ] Outliers for amount

7. [x] Standard deviation for amount

In [ ]:
def get_amount_stats(total, mean, median, mode, interval, sd) :

    amount_stats = []
    amount_dict = {}
    
    amount_stats.append(total)
    amount_stats.append(mean)
    amount_stats.append(median)
    amount_stats.append(mode)
    amount_stats.append(interval)
    amount_stats.append(sd)
    
    amount_names = ["total", "mean", "median", "mode", "interval", "sd"]
    # print("amount_stats : ", amount_stats)
    
    
    for key in amount_names :
        # print("key : ", key)
        for value in amount_stats :
            # print("value : ", value)
            amount_dict[key] = value
            amount_stats.remove(value)
            
#            break statement in Python terminates the current loop and resumes execution at the next statement which means to 
#                populate, then break to go to next key : value pair
            break
    return amount_dict

In [ ]:
amt = 'amount'

amt_total = data[amt].sum()
# print("amt_total : ", amt_total, "\n")

amt_mean = data[amt].mean()
# print("amt_mean : ", amt_mean)

amt_median = data[amt].median()

amt_max = data[amt].max()
amt_min = data[amt].min()
amt_range = amt_max - amt_min

amt_sd = data[amt].std()

In [ ]:
get_amount_stats(amt_total, amt_mean, amt_median, amt_max, amt_range, amt_sd)

---

## Amout per User

In [6]:
donators = 'user'
# print("donators : ", donators)

get_donators = data[donators]
# print("get_donators : \n ", get_donators) 

# sum_donators = np.int.count(data[donators])
# print("sum_donators : ", sum_donators)

# all donators/users
len_d = len(get_donators)
# print("len_d : ", len_d)

last_user = len_d - 1

group_users = []
same_user = []
last_user_list = []
final_group = []

# group users as same user; new element in list if ! same user
for donator in range(len_d) :
    # print("donator @ ", donator)
    # print("donator @ + 1 ", donator + 1)
    # print("len_d @ ", len_d)
    # print("get_donators[donator] : ", get_donators[donator])
    # print("get_donators[donator + 1] : ", get_donators[donator + 1])
    
    if donator < last_user :
        if get_donators[donator] == get_donators[donator + 1] :
            # print(True)
            same_user.append(get_donators[donator])
            # print(same_user)
        else : 
            # print(False)
            current_user = get_donators[donator]
            same_user.append(current_user)
            # print(same_user)

            # print("same_user : \n", same_user)
            group_users.append(same_user)
            # print("u : ", u)
    #         reset list
            same_user = []
            
    else :
#         # print(True)
#         # print("donator @ ", donator)
#         # print("len_d @ ", len_d)
#         # print("get_donators[donator] : ", get_donators[donator])
        
        if get_donators[donator] == get_donators[donator] :
            # print(True)
            last_user_list.append(get_donators[donator])
#             # print(last_user)

# print("group_users : \n", group_users)
# print("last_user_list : \n", last_user_list)

# convert 1d last_user_list to 2d last_user_li
last_user_li = []
last_user_li.append(last_user_list)
# print("last_user_li : \n", last_user_li)

final_group.append(group_users)
final_group.append(last_user_li)
# print("final_group : \n", final_group)

len_j = []
final_len_j = []

# TODO : for each user, get total contribution
for i in final_group :
    # print("i : ", i)
    for j in i :
        # print("j : ", j)
        
#         get len of each j
        len_j.append(len(j))
        # print("len_j : ", len_j)
        
#         sum up to that len
    
    # print("len_j : ", len_j)
    
# get last existence of len_j
final_len_j.append(len_j)
# print(final_len_j)

amount = data['amount']
# print("amount : ", amount)

# for ab in range(len(amount)) :
#     print("amount[ab] : ", amount[ab])
#     print("ab : ", ab)

start = 0
for q in final_len_j :
    # print("q : ", q)
    
    for r in q :
        print("\nstart : ", start)
        # print("r : ", r)

        a = amount[start : r]
        print("a : \n", a)
        start = r

start :  0
a :
 0    25.0
1    50.0
2    25.0
3    50.0
Name: amount, dtype: float64

start :  4
a :
 Series([], Name: amount, dtype: float64)

start :  3
a :
 3    50.0
Name: amount, dtype: float64

start :  4
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
3    50.0
Name: amount, dtype: float64

start :  4
a :
 4    50.0
5    75.0
6    50.0
7    50.0
Name: amount, dtype: float64

start :  8
a :
 Series([], Name: amount, dtype: float64)

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  4
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
Name: amount, dtype: float64

start :  2
a :
 2     25.0
3     50.0
4     50.0
5     75.0
6     50.0
7     50.0
8     25.0
9     25.0
10    50.0
11    25.0
Name: amount, dtype: float64

start :  12
a :
 Series([], Name: amount, dtype: float64)

start :  4
a :
 4    50.0
5    75.0
Name: amount, dtype: float64

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
3    50.0
4    50.0
5    75.0
6    50.0
7    50.0
8    25.0
9    25.0
Name: amount, dtype: float64

start :  10
a :
 Series([], Name: amount, dtype: float64)

start :  8
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
Name: amount, dtype: float64

start :  2
a :
 2    25.0
3    50.0
Name: amount, dtype: float64

start :  4
a :
 Series([], Name: amount, dtype: float64)

start :  4
a :
 Series([], Name: amount, dtype: float64)

start :  3
a :
 3    50.0
4    50.0
5    75.0
Name: amount, dtype: float64

start :  6
a :
 6     50.0
7     50.0
8     25.0
9     25.0
10    50.0
11    25.0
Name: amount, dtype: float64

start :  12
a :
 Series([], Name: amount, dtype: float64)

start :  3
a :
 3    50.0
4    50.0
Name: amount, dtype: float64

start :  5
a :
 5    75.0
Name: amount, dtype: float64

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  3
a :
 3    50.0
4    50.0
5    75.0
Name: amount, dtype: float64

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  4
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
3    50.0
Name: amount, dtype: float64

start :  4
a :
 4    50.0
5    75.0
6    50.0
7    50.0
Name: amount, dtype: float64

start :  8
a :
 8      25.0
9      25.0
10     50.0
11     25.0
12     50.0
13     25.0
14     25.0
15     50.0
16     25.0
17     75.0
18    100.0
19    100.0
Name: amount, dtype: float64

start :  20
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
Name: amount, dtype: float64

start :  2
a :
 2    25.0
3    50.0
4    50.0
Name: amount, dtype: float64

start :  5
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
2    25.0
3    50.0
Name: amount, dtype: float64

start :  4
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
2    25.0
3    50.0
4    50.0
5    75.0
Name: amount, dtype: float64

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
3    50.0
4    50.0
5    75.0
6    50.0
7    50.0
Name: amount, dtype: float64

start :  8
a :
 Series([], Name: amount, dtype: float64)

start :  3
a :
 3    50.0
Name: amount, dtype: float64

start :  4
a :
 4     50.0
5     75.0
6     50.0
7     50.0
8     25.0
9     25.0
10    50.0
11    25.0
Name: amount, dtype: float64

start :  12
a :
 Series([], Name: amount, dtype: float64)

start :  12
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
2    25.0
3    50.0
4    50.0
5    75.0
Name: amount, dtype: float64

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
2    25.0
3    50.0
Name: amount, dtype: float64

start :  4
a :
 Series([], Name: amount, dtype: float64)

start :  3
a :
 3     50.0
4     50.0
5     75.0
6     50.0
7     50.0
8     25.0
9     25.0
10    50.0
11    25.0
12    50.0
13    25.0
14    25.0
15    50.0
16    25.0
17    75.0
Name: amount, dtype: float64

start :  18
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1     50.0
2     25.0
3     50.0
4     50.0
5     75.0
6     50.0
7     50.0
8     25.0
9     25.0
10    50.0
11    25.0
12    50.0
13    25.0
14    25.0
15    50.0
Name: amount, dtype: float64

start :  16
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
2    25.0
3    50.0
4    50.0
5    75.0
Name: amount, dtype: float64

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
3    50.0
4    50.0
5    75.0
Name: amount, dtype: float64

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
3    50.0
4    50.0
5    75.0
Name: amount, dtype: float64

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
Name: amount, dtype: float64

start :  2
a :
 2     25.0
3     50.0
4     50.0
5     75.0
6     50.0
7     50.0
8     25.0
9     25.0
10    50.0
11    25.0
12    50.0
13    25.0
14    25.0
Name: amount, dtype: float64

start :  15
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
3    50.0
4    50.0
5    75.0
6    50.0
7    50.0
Name: amount, dtype: float64

start :  8
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
2    25.0
Name: amount, dtype: float64

start :  3
a :
 3    50.0
4    50.0
Name: amount, dtype: float64

start :  5
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
2    25.0
3    50.0
4    50.0
5    75.0
6    50.0
7    50.0
Name: amount, dtype: float64

start :  8
a :
 Series([], Name: amount, dtype: float64)

start :  6
a :
 6     50.0
7     50.0
8     25.0
9     25.0
10    50.0
11    25.0
12    50.0
13    25.0
14    25.0
Name: amount, dtype: float64

start :  15
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
2    25.0
Name: amount, dtype: float64

start :  3
a :
 3      50.0
4      50.0
5      75.0
6      50.0
7      50.0
8      25.0
9      25.0
10     50.0
11     25.0
12     50.0
13     25.0
14     25.0
15     50.0
16     25.0
17     75.0
18    100.0
19    100.0
Name: amount, dtype: float64

start :  20
a :
 Series([], Name: amount, dtype: float64)

start :  16
a :
 Series([], Name: amount, dtype: float64)

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
3    50.0
4    50.0
5    75.0
6    50.0
7    50.0
8    25.0
Name: amount, dtype: float64

start :  9
a :
 Series([], Name: amount, dtype: float64)

start :  5
a :
 5    75.0
6    50.0
7    50.0
8    25.0
Name: amount, dtype: float64

start :  9
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
3    50.0
4    50.0
5    75.0
6    50.0
7    50.0
8    25.0
Name: amount, dtype: float64

start :  9
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
3    50.0
Name: amount, dtype: float64

start :  4
a :
 4     50.0
5     75.0
6     50.0
7     50.0
8     25.0
9     25.0
10    50.0
11    25.0
Name: amount, dtype: float64

start :  12
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
2    25.0
3    50.0
4    50.0
5    75.0
Name: amount, dtype: float64

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
2    25.0
Name: amount, dtype: float64

start :  3
a :
 Series([], Name: amount, dtype: float64)

start :  3
a :
 Series([], Name: amount, dtype: float64)

start :  3
a :
 3    50.0
4    50.0
Name: amount, dtype: float64

start :  5
a :
 5     75.0
6     50.0
7     50.0
8     25.0
9     25.0
10    50.0
11    25.0
Name: amount, dtype: float64

start :  12
a :
 Series([], Name: amount, dtype: float64)

start :  12
a :
 12    50.0
13    25.0
14    25.0
15    50.0
Name: amount, dtype: float64

start :  16
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
3    50.0
4    50.0
5    75.0
Name: amount, dtype: float64

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  3
a :
 Series([], Name: amount, dtype: float64)

start :  3
a :
 3    50.0
Name: amount, dtype: float64

start :  4
a :
 4     50.0
5     75.0
6     50.0
7     50.0
8     25.0
9     25.0
10    50.0
11    25.0
Name: amount, dtype: float64

start :  12
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
2    25.0
3    50.0
4    50.0
5    75.0
Name: amount, dtype: float64

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
2    25.0
Name: amount, dtype: float64

start :  3
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
3    50.0
Name: amount, dtype: float64

start :  4
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
2    25.0
3    50.0
4    50.0
5    75.0
6    50.0
7    50.0
Name: amount, dtype: float64

start :  8
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1     50.0
2     25.0
3     50.0
4     50.0
5     75.0
6     50.0
7     50.0
8     25.0
9     25.0
10    50.0
11    25.0
12    50.0
13    25.0
14    25.0
15    50.0
16    25.0
17    75.0
Name: amount, dtype: float64

start :  18
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
2    25.0
3    50.0
4    50.0
5    75.0
Name: amount, dtype: float64

start :  6
a :
 6    50.0
7    50.0
Name: amount, dtype: float64

start :  8
a :
 8    25.0
9    25.0
Name: amount, dtype: float64

start :  10
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1     50.0
2     25.0
3     50.0
4     50.0
5     75.0
6     50.0
7     50.0
8     25.0
9     25.0
10    50.0
11    25.0
12    50.0
13    25.0
14    25.0
15    50.0
Name: amount, dtype: float64

start :  16
a :
 Series([], Name: amount, dtype: float64)

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
2    25.0
Name: amount, dtype: float64

start :  3
a :
 Series([], Name: amount, dtype: float64)

start :  3
a :
 Series([], Name: amount, dtype: float64)

start :  3
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1     50.0
2     25.0
3     50.0
4     50.0
5     75.0
6     50.0
7     50.0
8     25.0
9     25.0
10    50.0
11    25.0
12    50.0
13    25.0
14    25.0
15    50.0
Name: amount, dtype: float64

start :  16
a :
 Series([], Name: amount, dtype: float64)

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
3    50.0
Name: amount, dtype: float64

start :  4
a :
 Series([], Name: amount, dtype: float64)

start :  4
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
Name: amount, dtype: float64

start :  3
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
2    25.0
Name: amount, dtype: float64

start :  3
a :
 Series([], Name: amount, dtype: float64)

start :  3
a :
 3    50.0
Name: amount, dtype: float64

start :  4
a :
 Series([], Name: amount, dtype: float64)

start :  4
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
Name: amount, dtype: float64

start :  3
a :
 Series([], Name: amount, dtype: float64)

start :  3
a :
 3    50.0
4    50.0
5    75.0
6    50.0
7    50.0
Name: amount, dtype: float64

start :  8
a :
 Series([], Name: amount, dtype: float64)

start :  4
a :
 Series([], Name: amount, dtype: float64)

start :  3
a :
 3    50.0
4    50.0
5    75.0
6    50.0
7    50.0
8    25.0
Name: amount, dtype: float64

start :  9
a :
 Series([], Name: amount, dtype: float64)

start :  3
a :
 3    50.0
4    50.0
5    75.0
Name: amount, dtype: float64

start :  6
a :
 6    50.0
7    50.0
Name: amount, dtype: float64

start :  8
a :
 Series([], Name: amount, dtype: float64)

start :  4
a :
 4    50.0
5    75.0
Name: amount, dtype: float64

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  4
a :
 4    50.0
5    75.0
6    50.0
7    50.0
8    25.0
9    25.0
Name: amount, dtype: float64

start :  10
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
3    50.0
Name: amount, dtype: float64

start :  4
a :
 Series([], Name: amount, dtype: float64)

start :  4
a :
 4     50.0
5     75.0
6     50.0
7     50.0
8     25.0
9     25.0
10    50.0
11    25.0
Name: amount, dtype: float64

start :  12
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
3    50.0
4    50.0
5    75.0
Name: amount, dtype: float64

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  4
a :
 Series([], Name: amount, dtype: float64)

start :  4
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
3    50.0
4    50.0
5    75.0
Name: amount, dtype: float64

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
3    50.0
4    50.0
5    75.0
Name: amount, dtype: float64

start :  6
a :
 6    50.0
7    50.0
Name: amount, dtype: float64

start :  8
a :
 8    25.0
Name: amount, dtype: float64

start :  9
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
Name: amount, dtype: float64

start :  3
a :
 3    50.0
4    50.0
5    75.0
Name: amount, dtype: float64

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  3
a :
 3    50.0
Name: amount, dtype: float64

start :  4
a :
 4     50.0
5     75.0
6     50.0
7     50.0
8     25.0
9     25.0
10    50.0
11    25.0
12    50.0
13    25.0
14    25.0
Name: amount, dtype: float64

start :  15
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
3    50.0
4    50.0
5    75.0
6    50.0
7    50.0
8    25.0
Name: amount, dtype: float64

start :  9
a :
 Series([], Name: amount, dtype: float64)

start :  3
a :
 3    50.0
4    50.0
5    75.0
Name: amount, dtype: float64

start :  6
a :
 6    50.0
7    50.0
Name: amount, dtype: float64

start :  8
a :
 Series([], Name: amount, dtype: float64)

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1     50.0
2     25.0
3     50.0
4     50.0
5     75.0
6     50.0
7     50.0
8     25.0
9     25.0
10    50.0
11    25.0
12    50.0
13    25.0
14    25.0
Name: amount, dtype: float64

start :  15
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
2    25.0
3    50.0
4    50.0
5    75.0
6    50.0
7    50.0
Name: amount, dtype: float64

start :  8
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
Name: amount, dtype: float64

start :  2
a :
 2    25.0
3    50.0
4    50.0
5    75.0
6    50.0
7    50.0
8    25.0
9    25.0
Name: amount, dtype: float64

start :  10
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2     25.0
3     50.0
4     50.0
5     75.0
6     50.0
7     50.0
8     25.0
9     25.0
10    50.0
11    25.0
12    50.0
13    25.0
14    25.0
15    50.0
Name: amount, dtype: float64

start :  16
a :
 Series([], Name: amount, dtype: float64)

start :  10
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2      25.0
3      50.0
4      50.0
5      75.0
6      50.0
7      50.0
8      25.0
9      25.0
10     50.0
11     25.0
12     50.0
13     25.0
14     25.0
15     50.0
16     25.0
17     75.0
18    100.0
19    100.0
Name: amount, dtype: float64

start :  20
a :
 Series([], Name: amount, dtype: float64)

start :  3
a :
 3    50.0
4    50.0
5    75.0
6    50.0
7    50.0
Name: amount, dtype: float64

start :  8
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
2    25.0
Name: amount, dtype: float64

start :  3
a :
 3    50.0
4    50.0
5    75.0
Name: amount, dtype: float64

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  3
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
Name: amount, dtype: float64

start :  2
a :
 2    25.0
3    50.0
4    50.0
5    75.0
6    50.0
7    50.0
8    25.0
Name: amount, dtype: float64

start :  9
a :
 Series([], Name: amount, dtype: float64)

start :  3
a :
 3      50.0
4      50.0
5      75.0
6      50.0
7      50.0
8      25.0
9      25.0
10     50.0
11     25.0
12     50.0
13     25.0
14     25.0
15     50.0
16     25.0
17     75.0
18    100.0
19    100.0
20     75.0
21     25.0
22     25.0
23     50.0
Name: amount, dtype: float64

start :  24
a :
 Series([], Name: amount, dtype: float64)

start :  4
a :
 4    50.0
5    75.0
Name: amount, dtype: float64

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  4
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
3    50.0
4    50.0
5    75.0
6    50.0
7    50.0
Name: amount, dtype: float64

start :  8
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1     50.0
2     25.0
3     50.0
4     50.0
5     75.0
6     50.0
7     50.0
8     25.0
9     25.0
10    50.0
11    25.0
Name: amount, dtype: float64

start :  12
a :
 Series([], Name: amount, dtype: float64)

start :  6
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
Name: amount, dtype: float64

start :  2
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
Name: amount, dtype: float64

start :  3
a :
 Series([], Name: amount, dtype: float64)

start :  3
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
Name: amount, dtype: float64

start :  3
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
Name: amount, dtype: float64

start :  2
a :
 2    25.0
Name: amount, dtype: float64

start :  3
a :
 3     50.0
4     50.0
5     75.0
6     50.0
7     50.0
8     25.0
9     25.0
10    50.0
11    25.0
Name: amount, dtype: float64

start :  12
a :
 Series([], Name: amount, dtype: float64)

start :  4
a :
 4    50.0
5    75.0
6    50.0
7    50.0
8    25.0
Name: amount, dtype: float64

start :  9
a :
 Series([], Name: amount, dtype: float64)

start :  8
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
3    50.0
Name: amount, dtype: float64

start :  4
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :
 2    25.0
3    50.0
Name: amount, dtype: float64

start :  4
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
2    25.0
3    50.0
4    50.0
5    75.0
6    50.0
7    50.0
Name: amount, dtype: float64

start :  8
a :
 8      25.0
9      25.0
10     50.0
11     25.0
12     50.0
13     25.0
14     25.0
15     50.0
16     25.0
17     75.0
18    100.0
19    100.0
Name: amount, dtype: float64

start :  20
a :
 Series([], Name: amount, dtype: float64)

start :  1
a :
 1    50.0
2    25.0
Name: amount, dtype: float64

start :  3
a :
 3    50.0
Name: amount, dtype: float64

start :  4
a :
 Series([], Name: amount, dtype: float64)

start :  4
a :
 Series([], Name: amount, dtype: float64)

start :  2
a :